h1{
    text-align: center;
}


h2{
    text-align: center;
}


h3{
    text-align: center;
}


h4{
    text-align: center;
}


h5{
    text-align: center;
}


h6{
    text-align: center;
}


body{
    background-color: rgb(184, 216, 188)
}


img{
    width: 450px;
    height: 400px;
    border-style:dashed;
    border-radius: 30%;

}


div{
    text-align: center;
}